<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
    <link rel="stylesheet" href="../css/bootstrap-3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    Id:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label for="">
                    Name:
                    <input type="text" class="form-control" v-model="name" @keyup.enter="add">
                </label>
                <input type="button" value="添加" class="btn btn-primary" @click="add">

                <label for="">
                    SearchKeyWords:
                    <input type="text" class="form-control" v-model="keyWords" v-focus>
                </label>
            </div>
        </div>


        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in search(keyWords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime | dateFormat('') }}</td>
                    <td><a href="" @click.prevent="del(item.id)">删除</a> </td>
                    <!-- <td><a href="" @click.prevent="del(index)">删除</a> </td> -->
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div id="app2">
        <span v-fontweight="700" v-fontsize="'70px'">{{ dt | dateFormat }}</span>
        <input type="text" v-color="'grey'">
    </div>

    <script>
        function addZero(d) {
            if (d >= 0 && d < 10) {
                return "0" + d
            }
        }

        // 注册全局自定义指令
        Vue.directive('focus', {
            bind: function() {
                // 当元素加载到内存中时就会调用, 一般可以写样式相关的信息, 样式会被解析成该元素的内联样式
                // 只调用一次, 当指令第一次绑定到元素时调用, 一般用于初始化设置
            },
            // 当绑定的元素插入DOM时 会执行inserted, 触发一次
            inserted: function(el) {
                // 跟js 操作相关的动作
                el.focus();
            },
            update: function() {

            }
        });

        // 注册全局自定义指令并可接收参数
        Vue.directive('color', {
            bind: function(el, binding, vnode) {
                console.log(binding.name); // 
                console.log(binding.value); // 返回字符串, 如果时变量或则数据会自己进行计算
                console.log(binding.expression); // 返回的是一个带引号的字符串形式的指令表达式
                // 指令还可以接收合法的js对象字面量, 表达式！！
                el.style.backgroundColor = binding.value;
            }
        })

        //全局过滤器, 时间格式化
        Vue.filter('dateFormat', function(dateStr, pattern = "") {
            var dt = new Date(dateStr);
            var y = dt.getFullYear();
            var m = (dt.getMonth() + 1).toString().padStart(2, "0");
            var d = (dt.getDate()).toString().padStart(2, "0");


            if (pattern.toLowerCase() === "yyyy-mm-dd") {
                return `${y}-${m}-${d}`
            } else {
                var hh = dt.getHours();
                var mm = (dt.getMinutes()).toString().padStart(2, "0");
                var ss = (dt.getSeconds()).toString().padStart(2, "0");

                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
            }
        });

        // 自定义全局按键修饰符
        Vue.config.keyCodes.f2 = 113;

        var vm = new Vue({
            el: "#app",
            data: {
                id: '',
                name: '',
                keyWords: '',
                list: [{
                    id: 1,
                    name: "奔驰",
                    ctime: new Date()
                }, {
                    id: 2,
                    name: "宝马",
                    ctime: new Date()
                }, ]
            },
            methods: {
                add() {
                    this.list.push({
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    });
                    this.id = this.name = '';
                },
                del(id) {
                    this.list.some((item, i) => {
                        if (item.id = id) {
                            this.list.splice(i, 1);
                            // 在数组的some方法中, 如果 return true, 就会立即终止这个数组的后续循环
                            return true
                        }
                    });
                },
                search(keywords) {
                    // var newList = [];
                    // this.list.forEach(item => {
                    //     if (item.name.indexOf(keywords) != -1) {
                    //         newList.push(item);
                    //     }
                    // });
                    // return newList

                    // 知识点: 数组遍历的方法 forEach  some( return true可以终止循环) filter   findIndex  循环找到符合要求的索引returntrue终止
                    // filter 返回数组
                    return this.list.filter(item => {
                        // 知识点: ES6中, 字符串新方法, String.prototype.includes('要包含的字符串') 返回true / false
                        // jquery 中是否包含用  contain
                        if (item.name.includes(keywords)) {
                            return item
                        }
                    });
                }
            }
        });


        var app2 = new Vue({
            el: "#app2",
            data: {
                dt: new Date()
            },
            filters: {
                dateFormat: function(dateStr, pattern = "") {
                    var dt = new Date(dateStr);
                    var y = dt.getFullYear();
                    var m = dt.getMonth() + 1;
                    var d = dt.getDate();
                    if (pattern.toLowerCase() === "yyyy-mm-dd") {
                        return `${y}-${m}-${d}`
                    } else {
                        var hh = dt.getHours();
                        var mm = dt.getMinutes();
                        var ss = dt.getSeconds();

                        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
                    }
                }
            },
            // 组件局部自定义指令
            directives: {
                "fontweight": {
                    bind: function(el, binding) {
                        el.style.fontWeight = binding.value;
                    }
                },
                "fontsize": function(el, binding) { // 函数简写, 相当于同时给bind和update同时触发以下代码
                    el.style.fontSize = parseInt(binding.value) + "px";
                }
            }
        });
    </script>
</body>

</html>